<h1>My Devices</h1>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-3" ng-repeat="device in devices">
      <button class="btn btn-default" id="deviceStatsBtn" ng-click="toStatPage(device)">
        <h6>{{device.deviceName}}</h6>
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/24177-200.png" alt="device-{{device.deviceID}}" class="img-rounded img-responsive"/>
        <hr>
        <p>
          <br>Outlets on: {{outletsOn(device)}}
          <br>Total Power drawn: {{totalPowerDrawn(device)}} watts
        </p>
      </button>
    </div>
  </div>
</div>
