<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderCtrl as header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href="#/">Rebel Kangaroo</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul id="pages" class="nav navbar-nav">
        <li><a href="#/about">About</a></li>
        <li><a id="myDevicesLink" ng-style="disabled" href="#/mydevices">My Devices</a></li>
        <li><a id="profileLink" ng-style="disabled" href="#/profile">My Profile</a></li>
        <li id="logoutBtn" class="btn btn-danger" role="button" ng-click="logout()" ng-hide="loggedIn">Logout</li>
      </ul>
    </div>
    <button id="notificationsBtn" class="btn btn-info dropdown-toggle visible-md-inline-block visible-md-lg-inline-block" data-toggle="dropdown" aria-haspopup="true" type="button" ng-hide="loggedIn">
      Notifications&nbsp;&nbsp;&nbsp;<span class="badge">{{header.notifications}}</span>
      <ul class="dropdown-menu">
        <li ng-repeat="notification in notifications" ng-style="notifier(notification)">{{notification.device}}: {{notification.message}}</li>
      </ul>
    </button>
  </div>
</nav>
