<h1>Welcome to the Subsystem Test Page</h1>
<div class="container">
  <p>
    The particle said this: {{particle.message.message}}
  </p>
<form action="https://api.particle.io/v1/devices/{{particle.message.deviceID}}/led?access_token={{particle.message.accessToken}}" method="POST">
    Tell your device what to do!<br>
    <br>
    <input type="radio" name="args" value="on">Turn the LED on.
    <br>
    <input type="radio" name="args" value="off">Turn the LED off.
    <br>
    <br>
    <input type="submit" value="Do it!">
  </form>
</div>
