<div class="container-fluid">
  <div class="row">
    <div id="updateProfileAlert" class="alert alert-success alert-dismissible" role="alert" ng-hide="profileUpdate">
  <button id="closeProfileAlert" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> {{profile.updatedProfileMessage}}
</div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="btn-group">
        <button id="accountDropdown" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img id="profileImg" src="{{profile.user.profileImage}}" alt="{{profile.user.name}}" class="img-circle">
            <hr>
            <span class="caret"></span> Click Me!
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="accountImage" id="accountOptions">
          <li><a id="openChangePassModal" data-toggle="modal" data-target="#changePassModal">Change Password</a></li>
          <li><a id="openChangePiclModal" data-toggle="modal" data-target="#changeProPicModal">Change Profile Picture</a></li>
          <li><a id="openAddDevModal" data-toggle="modal" data-target="#addDeviceModal">Add a Device</a></li>
          <li><a id="openUpdatePhoneNumber" data-toggle="modal" data-target="#updatePhoneNumberModal">Update Phone Number</a></li>
          <li><a id="openDelModal" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <h1 id="welcomeUser">Welcome {{profile.user.name}}!</h1>
    </div>
  </div>
  <hr>
  <div id="listedDevices">
    <h2>Owned Devices <i id="addDeviceIcon" class="fa fa-plus-circle" aria-hidden="true" data-toggle="modal" data-target="#addDeviceModal"></i></h2>
    <div class="container">
      <div ng-repeat="device in devices">
        <a id="deviceLink" href="#!/mydevices/{{device.deviceID}}/stats"><h3>Device: {{device.deviceID}}</h3></a>
      <table class="table table-hover table-condensed table-responsive">
        <tr>
          <th>Outlet Number</th>
          <th>Primary Usage</th>
          <th>On/off</th>
          <th>Total Power Drawn</th>
        </tr>
        <tr ng-repeat="outlet in getOutlets(device)">
          <td>{{outlet.outletNumber}}</td>
          <td>{{outlet.nickname}}</td>
          <td>{{outlet.isOn}}</td>
          <td>{{outlet.currentWattage}}</td>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>
<!-- ALL MODALS -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!-- Delete Acc Modal-->
<div id="deleteAccountModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        <h1>{{profile.user.name}}</h1>
        <hr>
        <br>
        <p>
          <strong>Are you sure you want to delete your account? This cannot be undone!</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="deleteAccBtn" type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteAccount()">Yes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Change pass Modal-->
<div id="changePassModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <h1>{{profile.user.name}}</h1>
        <hr>
        <br>
        <p>
          Please enter a new password
        </p>
        <form ng-submit="changePassword()">
          <div class="form-group">
            <label for="password">Password*</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="password" ng-model="profile.password.newPassword">
            <meter max="4" id="password-strength-meter"></meter>
            <p id="password-strength-text"></p>
          </div>
          <div class="form-group">
            <label for="password">Confirm Password*</label>
            <input type="password" class="form-control" id="confirmPasswordInput" placeholder="password" ng-model="profile.password.newConfirmPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cancelBtn" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="confirmNewPassword" type="button" class="btn btn-warning" data-dismiss="modal" ng-click="changePassword()">Yes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Change profile pic Modal-->
<div id="changeProPicModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Profile Image</h4>
      </div>
      <div class="modal-body">
        <h1>{{profile.user.name}}</h1>
        <hr>
        <br>
        <p>
          Please uplod a new image
        </p>
        <div class="form-group">
          <label for="profileImage">Profile Image</label>
          <input type="file" accept="image/*" name="pic" class="form-control" id="imageUpload" file-model="newPic" ng-model="profile.pic.newPic">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="changeProPicBtn" type="button" class="btn btn-success" data-dismiss="modal" ng-click="changePropic()">Yes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- add device Modal-->
<div id="addDeviceModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a device</h4>
      </div>
      <div class="modal-body">
        <h1>{{profile.user.name}}</h1>
        <hr>
        <br>
        <p>
          Please enter the device id number
        </p>
        <div class="form-group">
          <label for="deviceId">Device ID</label>
          <input type="text" name="deviceid" class="form-control" id="deviceIdInput" ng-model="profile.addDevice.deviceID">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="addDeviceBtn" type="button" class="btn btn-success" data-dismiss="modal" ng-click="addDevice()">Yes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- update phone number modal-->
<!-- add device Modal-->
<div id="updatePhoneNumberModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Update Phone Number</h4>
      </div>
      <div class="modal-body">
        <h1>{{profile.user.name}}</h1>
        <hr>
        <br>
        <p>
          Current phone number on file: {{profile.user.phoneNumber}}
        </p>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" name="phoneNumber" class="form-control" id="phoneNumberInput" ng-model="profile.newNumber.phoneNumber">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="updatePhoneNumberBtn" type="button" class="btn btn-success" data-dismiss="modal" ng-click="updatePhoneNumber()">Yes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
  var strength = {
    0: "Worst",
    1: "Bad",
    2: "Weak",
    3: "Good",
    4: "Strong"
  }
  var password = document.getElementById('passwordInput');
  var meter = document.getElementById('password-strength-meter');
  var text = document.getElementById('password-strength-text');

  password.addEventListener('input', function() {
    var val = password.value;
    var result = zxcvbn(val);

    // Update the password strength meter
    meter.value = result.score;

    // Update the text indicator
    if (val !== "") {
      text.innerHTML = "Strength: " + strength[result.score];
    } else {
      text.innerHTML = "";
    }
  });
</script>
