<form id="registerForm" ng-submit="submit()">
  <div class="form-group">
    <label for="userName">Full Name*</label>
    <input type="username" class="form-control" id="fullNameInput" placeholder="Full name" ng-model="registerUser.credentials.name">
  </div>
  <div class="form-group">
    <label for="userName">User Name*</label>
    <input type="username" class="form-control" id="usernameInput" placeholder="User name" ng-model="registerUser.credentials.username">
  </div>
  <div class="form-group">
    <label for="password">Password*</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="password" ng-model="registerUser.credentials.password">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="emailInput" placeholder="email" ng-model="registerUser.credentials.email">
  </div>
  <div class="form-group">
    <label for="profileImage">Profile Image</label>
    <input type="file" accept="image/*" name="pic" class="form-control" id="imageUpload" file-model="profileImage">
  </div>
  <button type="submit" class="btn btn-success" ng-click="submit()">Register</button>
  <p><strong>*</strong>- Required field</p>
</form>
<script type="text/javascript" src="strength.js"></script>
<script type="text/javascript" src="js.js"></script>
<script>
  $(document).ready(function($) {

    $("#passwordInput").strength(
        strengthClass: 'strength',
        strengthMeterClass: 'strength_meter',
        strengthButtonClass: 'button_strength',
        strengthButtonText: 'Show password',
        strengthButtonTextToggle: 'Hide Password'
      );

  });
</script>
