<h1>{{stats.device.deviceName}}</h1><!--<span><img src="{{stats.device.deviceStatusImg}}" alt="Online Status"/>-->
<br>
<br>
<br>
<div class="form-group">
  <label for="costPerKWH">Cost per kWh</label>
  <input type="number" class="form-control" id="costInput" placeholder="cost per kWh i.e. 0.58 = 50&cent;" ng-model="stats.costPerKWH">
</div>
<hr>
<table class="table table-hover table-condensed table-responsive">
  <tr>
    <th>Outlet Number</th>
    <th>Primary Usage</th>
    <th>On/off</th>
    <th>Power Drawn</th>
    <th>Total Time On</th>
  </tr>
  <tr ng-repeat="outlet in outlets" id="outletStatRow" data-toggle="modal" data-target="#detailedStats" ng-click="saveClickedOutletData(outlet)">
    <td>{{outlet.outletNumber}}</td>
    <td>{{outlet.nickname}}</td>
    <td>{{outlet.isOn}}</td>
    <td>{{outlet.wattage}}</td>
    <td>{{outlet.elapsedTimeOn}}</td>
  </tr>
</table>
<hr>
<div class="container">
  <h1>{{stats.outlet.nickname}}</h1>
  <br>
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h2>Usage</h2>
          <div id="currentUsage"></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2>Cost</h2>
            <div id="currentCost"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <form id="taskSchedulerForm">
        <div class="form-group">
          <label for="manualOnOff">Turn outlet on/off</label>
          <input type="checkbox" class="form-control" id="keepOn" ng-model="stats.taskScheduler.manualOn">On/Off
        </div>
        <div class="form-group">
          <label for="autoOn">When would like to schedule to the outlet to turn on?</label>
          <input type="time" class="form-control" id="scheduleOn" ng-model="stats.taskScheduler.scheduleOn">
          <em>*if using Firefox, please enter time in a 24-hour day format i.e. 15:35 -> 3:35pm</em>
          <br>
          <label for="autoOn">Would you like to turn on this outlet at this time each day?</label>
          <input type="checkbox" class="form-control" id="scheduleOnCheck" ng-model="stats.taskScheduler.repeatOn">
        </div>
        <div class="form-group">
          <label for="autoFF">When would like to schedule to the outlet to turn off?</label>
          <input type="time" class="form-control" id="scheduleOff" ng-model="stats.taskScheduler.scheduleOff">
          <em>*if using Firefox, please enter time in a 24-hour day format i.e. 15:35 -> 3:35pm</em>
          <br>
          <label for="autoFF">Would you like to turn off this outlet at this time each day?</label>
          <input type="checkbox" class="form-control" id="scheduleOffCheck" ng-model="stats.taskScheduler.repeatOff">
        </div>
        <button class="btn btn-success" type="submit" ng-click="scheduleTasks()">Schedule Tasks</button>
      </form>
    </div>
  </div>
</div>
