<h1>{{stats.device.deviceName}}</h1>
<br>
<br>
<br>
<div class="form-group">
  <label for="costPerKWH">Cost per kWh in cents</label>
  <input type="number" class="form-control" id="costInput" placeholder="cost per kWh i.e. 0.58 = 50&cent;" ng-model="stats.costPerKWH">
</div>
<hr>
<table class="table table-hover table-condensed table-responsive">
  <tr>
    <th>Outlet Number</th>
    <th>Primary Usage</th>
    <th>On/off</th>
    <th>Power Drawn</th>
    <th>Total Time On</th>
  </tr>
  <tr ng-repeat="outlet in outlets" id="outletStatRow" data-toggle="modal" data-target="#detailedStats" ng-click="saveClickedOutletData(outlet)">
    <td>{{outlet.outletNumber}}</td>
    <td>{{outlet.nickname}}</td>
    <td>{{outlet.isOn}}</td>
    <td>{{outlet.wattage}}</td>
    <td>{{outlet.elapsedTimeOn}}</td>
  </tr>
</table>
<!--  -->
<!--  -->
<!--  -->
<!-- More stats Modal-->
<div id="detailedStats" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Detailed Stats</h4>
      </div>
      <div class="modal-body">
        <h1>{{stats.outlet.nickname}}</h1>
        <br>
        <p>
          <strong>Cost per kilowatts-hour {{stats.costPerKWH}}&cent;</strong>
        </p>
        <h2>Current Usage &amp; Cost</h2>
        <div class="container" id="currentUsage"></div>
        <div class="container" id="currentCost"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
