<h1>{{stats.device.deviceName}}</h1>
<br>
<br>
<br>
<div class="form-group">
  <label for="costPerKWH">Cost per kWh</label>
  <input type="number" class="form-control" id="costInput" placeholder="cost per kWh i.e. 0.58 = 50&cent;" ng-model="stats.costPerKWH">
</div>
<hr>
<table class="table table-hover table-condensed table-responsive">
  <tr>
    <th>Outlet Number</th>
    <th>Primary Usage</th>
    <th>On/off</th>
    <th>Power Drawn</th>
    <th>Total Time On</th>
  </tr>
  <tr ng-repeat="outlet in outlets" id="outletStatRow" data-toggle="modal" data-target="#detailedStats" ng-click="saveClickedOutletData(outlet)">
    <td>{{outlet.outletNumber}}</td>
    <td>{{outlet.nickname}}</td>
    <td>{{outlet.isOn}}</td>
    <td>{{outlet.wattage}}</td>
    <td>{{outlet.elapsedTimeOn}}</td>
  </tr>
</table>
<hr>
<div class="container">
  <h1>{{stats.outlet.nickname}}</h1>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <h2>Usage</h2>
      <div id="currentUsage"></div>
    </div>
    <div class="col-sm-6">
      <h2>Cost</h2>
      <div id="currentCost"></div>
    </div>
  </div>
</div>
