#mainContent{
  margin-top: 75px;
}
#loginJumbotron{
  text-align: center;
}
form{
  text-align: left;
}
footer.footer{
  margin-top: 75px;
}
#navbar-collapse{
  position: relative;
}
#pages{
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  float: right;
}
button#accountDropdown{
  border-color: none;
  border: none;
  background-color: transparent;
}
h1#welcomeUser{
  padding-top:50px;
  padding-bottom: 50px;
}
tr#outletStatRow:hover{
  cursor: pointer;
}
.ct-label{
  font-size: 1.75rem !important;
}
