#mainContent{
  margin-top: 75px;
}
#loginJumbotron{
  text-align: center;
}
form{
  text-align: left;
}
footer.footer{
  margin-top: 75px;
}
#logoutBtn{
  margin-top: 2%;
  line-height: 100%;
}
button#accountDropdown{
  border-color: none;
  border: none;
  background-color: transparent;
}
h1#welcomeUser{
  padding-top:50px;
  padding-bottom: 50px;
}
tr#outletStatRow:hover{
  cursor: pointer;
}

i#editName:hover{
  cursor: pointer;
  color: #ef540b;
}
.ct-label{
  font-size: 1.5rem !important;
  color: black !important;
  fill: black !important;
  font-weight: bolder;
}
@media only screen and (max-width: 768px) {
  .ct-label{
    font-size: 8px !important;
    color: black !important;
    fill: black !important;
    font-weight: bolder;
  }
}
a#deviceLink{
  color: #ef540b;
}
a#deviceLink:hover{
  color: red;
}
img#profileImg{
  max-width: 75%;
}
i#addDeviceIcon{
  cursor: pointer;
  color: #2FE71B;
}

#notificationsBtn{
  float: right;
  margin-top: -4%;
}

#notificationList{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.fa-toggle-on{
  color: green;
}

.fa-toggle-off{
  color:red;
}
.ct-legend{
	list-style:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.ct-legend li{
  line-height: 1;
	float:left;
	margin: 2%;
}
.chartist-tooltip{
  margin-left: 4%;
}